{% include 'include/header.html' %}

{% include 'include/navbar.html' %}

<div class="container-fluid">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" href="/detail/{{ id }}">Index</a></li>
        {% if mode == 'domain' %}
            <li class="active"><a class="nav-link" href="/detail/domain/{{ id }}">Subdomain</a></li>
            <li class="nav-item"><a class="nav-link" href="/detail/port/{{ id }}">Port</a></li>
            <li class="nav-item"><a class="nav-link" href="/detail/sendir/{{ id }}">Directory</a></li>
            <li class="nav-item"><a class="nav-link" href="/detail/vul/{{ id }}">Vul</a></li>
        {% elif mode == 'port' %}
            <li class="nav-item"><a class="nav-link" href="/detail/domain/{{ id }}">Subdomain</a></li>
            <li class="active"><a class="nav-link" href="/detail/port/{{ id }}">Port</a></li>
            <li class="nav-item"><a class="nav-link" href="/detail/sendir/{{ id }}">Directory</a></li>
            <li class="nav-item"><a class="nav-link" href="/detail/vul/{{ id }}">Vul</a></li>
        {% elif mode == 'sendir' %}
            <li class="nav-item"><a class="nav-link" href="/detail/domain/{{ id }}">Subdomain</a></li>
            <li class="nav-item"><a class="nav-link" href="/detail/port/{{ id }}">Port</a></li>
            <li class="active"><a class="nav-link" href="/detail/sendir/{{ id }}">Directory</a></li>
            <li class="nav-item"><a class="nav-link" href="/detail/vul/{{ id }}">Vul</a></li>
        {% elif mode == 'vul' %}
            <li class="nav-item"><a class="nav-link" href="/detail/domain/{{ id }}">Subdomain</a></li>
            <li class="nav-item"><a class="nav-link" href="/detail/port/{{ id }}">Port</a></li>
            <li class="nav-item"><a class="nav-link" href="/detail/sendir/{{ id }}">Directory</a></li>
            <li class="active"><a class="nav-link" href="/detail/vul/{{ id }}">Vul</a></li>
        {% else %}
            <li class="nav-item"><a class="nav-link" href="/detail/domain/{{ id }}">Subdomain</a></li>
            <li class="nav-item"><a class="nav-link" href="/detail/port/{{ id }}">Port</a></li>
            <li class="nav-item"><a class="nav-link" href="/detail/sendir/{{ id }}">Directory</a></li>
            <li class="nav-item"><a class="nav-link" href="/detail/vul/{{ id }}">Vul</a></li>
            {% endif %}
        </ul>
        {% if not mode %}
        <div class="row placeholders">
            <h3>{{ task_name }}</h3>
            <div class="col-xs-6 col-sm-3 placeholder">
                <h4>Subdomain</h4>
                <span class="text-muted">{{ domain_number }}</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <h4>Port</h4>
                <span class="text-muted">{{ port_number }}</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <h4>Directory</h4>
                <span class="text-muted">{{ sendir_number }}</span>
            </div>
        </div>
        {% elif mode == 'domain' %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Url</th>
                    <th>IP</th>
                    <th>Title</th>
                    <th>Appname</th>
                </tr>
                </thead>
                {% for domain in domains %}
                <tbody>
                <tr>
                    <td>{{ domain.id }}</td>
                    <td><a href="http://{{ domain.url }}" target="_blank">{{ domain.url }}</a></td>
                    <td>{{ domain.ip }}</td>
                    <td>{{ domain.title }}</td>
                    <td>{{ domain.appname }}</td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
        {% elif mode == 'port' %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Port</th>
                    <th>State</th>
                    <th>Name</th>
                    <th>Service</th>
                    <th>Version</th>
                </tr>
                </thead>
                {% for port in ports %}
                <tbody>
                <tr>
                    <td>{{ port.ip }}</td>
                </tr>
                </tbody>
                {% for detail in port.detail %}
                <tbody>
                <tr>
                    <td>{{ detail.port }}</td>
                    <td>{{ detail.state }}</td>
                    <td>{{ detail.name }}</td>
                    <td>{{ detail.service }}</td>
                    <td>{{ detail.version }}</td>
                </tr>
                </tbody>
                {% endfor %}
                {% endfor %}
            </table>
        </div>
        {% elif mode == 'vul' %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Url</th>
                    <th>Name</th>
                </tr>
                </thead>
                {% for vul in vuls %}
                <tbody>
                <tr>
                    <td>{{ vul.id }}</td>
                    <td>{{ vul.url }}</td>
                    <td>{{ vul.name }}</td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Url</th>
                    <th>Status Code</th>
                </tr>
                </thead>
                {% for sendir in sendirs %}
                <tbody>
                <tr>
                    <td>{{ sendir.id }}</td>
                    <td><a href="{{sendir.url}}" target="_blank">{{ sendir.url }}</a></td>
                    <td>{{ sendir.status_code }}</td>
                    <td><a class="btn btn-danger btn-xs" href="/del/{{sendir.id}}/subdomain" role="button">删除</a>
                    </td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
        {% endif %}
        {% if mode %}
            {% include 'include/pagination.html' %}
        {% endif %}
    </div>
</div>

{% include 'include/footer.html' %}