{% include 'include/header.html' %}

{% include 'include/navbar.html' %}

<div class="container-fluid">
    <div class="container">
        <div>
            <p>{{ domain.id }}</p>
            <p>{{ domain.domain }}</p>
            <p>{{ domain.title }}</p>
            <p>{{ domain.appname }}</p>
            <p>{{ domain.text }}</p>
            <p>{{ domain.domain_id }}</p>
            <p>{{ domain.src_id }}</p>
            <p>{{ domain.id }}</p>
        </div>

    </div>
</div>
{% include 'include/footer.html' %}