{% include 'include/header.html' %}

{% include 'include/navbar.html' %}

<div class="container-fluid">
    <div class="container">
        <h1 class="page-header">Subdomain</h1>
        <form class="form-inline" role="form" action="/add" method=post>
            <span class="form-group-btn">
                <button class="btn btn-outline-info" type="submit">Scan it!</button>
            </span>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Add a task ..." name="domain" value="">
            </div><!-- /input-group -->
        </form>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Url</th>
                    <th>IP</th>
                    <th>Title</th>
                    <th>Appname</th>
                    <th>Is New</th>
                    <th>Detail</th>
                </tr>
                </thead>
                <tbody>
                {% for domain in domains %}
                <tr>
                    <td><a href="http://{{ domain.url }}" target="_blank">{{ domain.url }}</a></td>
                    <td>{{ domain.ip }}</td>
                    <td>{{ domain.title }}</td>
                    <td>{{ domain.appname }}</td>
                    <td>
                        {% if domain.is_new == '1' %}
                            <button type="button" class="btn btn-outline-warning btn-sm">NEW!</button>
                        {% endif %}
                    </td>
                    <td><a class="btn btn-outline-info btn-sm" href="/domain/detail/{{ domain.id }}" role="button">详情</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include 'include/pagination.html' %}
</div>

{% include 'include/footer.html' %}