{% include 'include/header.html' %}

{% include 'include/navbar.html' %}

<div class="container-fluid">
    <div class="container">
        <h1 class="page-header">Dashboard</h1>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-2 placeholder">
                <h4>Subdomain</h4>
                <span class="text-muted">{{ max_domain }}</span>
            </div>
            <div class="col-xs-5 col-sm-2 placeholder">
                <h4>Port</h4>
                <span class="text-muted">{{ max_port }}</span>
            </div>
            <div class="col-xs-5 col-sm-2 placeholder">
                <h4>Directory</h4>
                <span class="text-muted">{{ max_sendir }}</span>
            </div>
            <div class="col-xs-5 col-sm-2 placeholder">
                <h4>Vul</h4>
                <span class="text-muted">{{ max_vul }}</span>
            </div>
            <div class="col-xs-5 col-sm-2 placeholder">
                <h4>FingerPrint</h4>
                <span class="text-muted">{{ max_fingerprint }}</span>
            </div>
        </div>

        <h2 class="sub-header">Task List</h2>
        <form class="form-inline" role="form" action="/add_vul" method=post>
            <span class="form-group-btn">
                <button class="btn btn-outline-info" type="submit">Scan it!</button>
            </span>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Add a task ..." name="sitescan" value="">
            </div><!-- /input-group -->
        </form>

        <div class="table-responsive">
            <table class="table table-striped table-sm ">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Detail</th>
                    <th>Delete</th>
                </tr>
                </thead>
                {% for task in tasks %}
                <tbody>
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.name }}</td>
                    <td><a class="btn btn-outline-info btn-sm" href="/detail/{{ task.id }}" role="button">任务详情</a></td>
                    <td><a class="btn btn-outline-danger btn-sm" href="/del/{{ task.id }}/task" role="button">删除</a></td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
            {% include 'include/pagination.html' %}
        </div>
    </div>
</div>

{% include 'include/footer.html' %}
