{% include 'include/header.html' %}

{% include 'include/navbar.html' %}

<div class="container-fluid">
    <div class="container">
        <h1 class="page-header">Dashboard</h1>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-2 placeholder">
                <h4>Subdomain</h4>
                <span class="text-muted">{{ max_domain }}</span>
            </div>
            <div class="col-xs-5 col-sm-2 placeholder">
                <h4>Port</h4>
                <span class="text-muted">{{ max_port }}</span>
            </div>
            <div class="col-xs-5 col-sm-2 placeholder">
                <h4>Directory</h4>
                <span class="text-muted">{{ max_sendir }}</span>
            </div>
            <div class="col-xs-5 col-sm-2 placeholder">
                <h4>Vul</h4>
                <span class="text-muted">{{ max_vul }}</span>
            </div>
            <div class="col-xs-5 col-sm-2 placeholder">
                <h4>FingerPrint</h4>
                <span class="text-muted">{{ max_fingerprint }}</span>
            </div>
        </div>

        <h2 class="sub-header">Recent Scanned</h2>
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>SRC ID</th>
                    <th>Domain</th>
                    <th>Scan Time</th>
                    <th>Detail</th>
                </tr>
                </thead>
                <tbody>
                {% for src in src_list %}
                <tr>
                    <td>{{ src.id }}</td>
                    <td>{{ src.name }}</td>
                    <td>{{ src.src_id }}</td>
                    <td>{{ src.domain }}</td>
                    <td>{{ src.scan_time }}</td>
                    <td><a class="btn btn-outline-info btn-sm" href="/detail/{{ src.id }}" role="button">详情</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'include/pagination.html' %}
        </div>
    </div>
</div>

{% include 'include/footer.html' %}
