{% include 'include/header.html' %}

{% include 'include/navbar.html' %}

<div class="container-fluid">
    <div class="container">

        <h1 class="page-header">监控范围列表</h1>

        <form class="form-inline" role="form" action="/add_vul" method=post>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="its name" id="name" name="Name" value="">
                <input type="text" class="form-control" placeholder="id" id="id" name="Id" value="">
                <input type="text" class="form-control" placeholder="and range" id="url" name="Url" value="">
            </div><!-- /input-group -->
            <span class="form-group-btn">
                <button class="btn btn-outline-info" type="submit">Add it</button>
            </span>
        </form>

        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>SRC ID</th>
                    <th>Domain</th>
                    <th>ScanTime</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for src in src_list %}
                <tr>
                    <td>{{ src.id }}</td>
                    <td>{{ src.name }}</td>
                    <td>{{ src.src_id }}</td>
                    <td>{{ src.domain }}</td>
                    <td>{{ src.scan_time }}</td>
                    <td><a class="btn btn-outline-danger btn-sm" href="/del/{{ src.id }}/src" role="button">删除</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'include/pagination.html' %}
        </div>
    </div>
</div>

{% include 'include/footer.html' %}
