<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="/">SiteScan</a>
    <div class="collapse navbar-collapse" id="navbar-main">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="Dashboard" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dashboard
                </a>
                <div class="dropdown-menu" aria-labelledby="Dashboard">
                    <a class="dropdown-item" href="/analysis">Analytics</a>
                    <a class="dropdown-item" href="/setting">Settings</a>
                    <a class="dropdown-item" href="/fingerprint/1">FingerRules</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="Information" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Information
                </a>
                <div class="dropdown-menu" aria-labelledby="Information">
                    <a class="dropdown-item" href="/domain/1">SubDomain</a>
                    <a class="dropdown-item" href="/port/1">Port</a>
                    <a class="dropdown-item" href="/sendir/1">Directory</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="Vulnerability" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Vulnerability
                </a>
                <div class="dropdown-menu" aria-labelledby="Vulnerability">
                    <a class="dropdown-item" href="/vul/1">Vulnerability</a>
                    <a class="dropdown-item" href="/port/1">Port</a>
                    <a class="dropdown-item" href="/sendir/1">Directory</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="Tools" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Tools
                </a>
                <div class="dropdown-menu" aria-labelledby="Tools">
                    <a class="dropdown-item" href="http://tools.octfive.cn">En/Decode</a>
                    <a class="dropdown-item" href="/fingerscan">FingerScan</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="GitLeak" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    GitLeak
                </a>
                <div class="dropdown-menu" aria-labelledby="GitLeak">
                    <a class="dropdown-item" href="/gitleak">GitLeak</a>
                    <a class="dropdown-item" href="/gitleak/rules">GitRules</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/jasonsheh/SiteScan">Help</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search...">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
